body{
	font-family: 'EB Garamond', serif;
}
.leftbar{
	border-right: 3px gray;
	min-height: 300px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}
a{
	color: #CB5555;
}
i{
	padding-right: 20px;
}
.lefty{
	background-color: #86ADCC;
}
.leftbar a{
	color: black;
	vertical-align: super;
}
.leftbar h1{
	padding-bottom: 10px;
}
h1, h2, h3{
	font-family: 'Lato', sans-serif;

}
h1{
	padding-bottom: 40px;

}
hr{
	margin-top: 50px;
}
.maincontent{
	background: #E4E4E4;
	min-height: 1000px;

}
.round{
	border-radius: 50px;
	height: 100px;
	margin-top:15px;
	border: 5px solid #333;
}
.banner {
	max-width: 98%;
	padding: 0px !important;
}

.container{
	margin: 0px;
	width: 100%;}
.links{
	padding-top: 10px;text-align: left;
}
.box{
	background-color: white;
	border-bottom: 1px solid #AEAEAE;
	border-right: 1px solid #AEAEAE;
	margin: 10px;
	padding: 20px;	
}
.logo{
	display: inline;
	float: right;
	max-height: 100px;
	padding:15px;
}
.edulogo{
	display: inline;
	float: right;
	max-height:100px;
	padding: 15px;
}
.maincontent .col-md-6{
	padding: 0px;
}

.col2 .box{
	margin-left: 0px;
}

.maincontent h2{
	margin-top: 2px;
	font-size: 18px;
}

.maincontent h3{
	margin-top: 2px;
	font-size: 16px;
}